.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: day-and-night 30s linear 0s infinite;
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation: ship-move 20s linear 0s infinite;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;

    animation: smoke-move-1 2s linear infinite 0s normal;
}

.smoke-2 {
    top: -25px;
    right: 42px;

    animation: smoke-move-2 2s linear infinite 1.5s normal;
}

.smoke-3 {
    top: -25px;
    right: 49px;

    animation: smoke-move-3 2s linear infinite 0.8s normal;
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sun-rotate 10s linear infinite;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;
    animation: sun-move 30s linear infinite;    
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;

    animation: cloud-move-1 30s linear 0s infinite;
}

.cloud-2 {
    top: 50px;

    animation: cloud-move-2 25s linear 0s infinite;
}

.cloud-3 {
    top: 100px;

    animation: cloud-move-3 20s linear 0s infinite;
}

.cloud-4 {
    top: 170px;

    animation: cloud-move-4 15s linear 0s infinite;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}


@keyframes day-and-night {
    0%, 100% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    35% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    50%, 70% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

@keyframes ship-move {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(-550px);
    }
}

@keyframes smoke-move-1 {
    0% {
        transition: opacity(1);
    }
    100% {
        opacity: 0;
        transform: scale(2) translateX(10px) translateY(-12px);
    }
}

@keyframes smoke-move-2 {
    0% {
        transition: opacity(1);
    }
    100% {
        opacity: 0;
        transform: scale(2) translateX(10px) translateY(-15px);
    }
}

@keyframes smoke-move-3 {
    0% {
        transition: opacity(1);
    }
    100% {
        opacity: 0;
        transform: scale(2) translateX(10px) translateY(-18px);
    }
}

@keyframes sun-move {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes sun-rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes cloud-move-1 {
    from {
        opacity: 0.5;
        transform: translateX(-300px) scale(.2);
    }
    to {
        transform: translateX(700px) scale(.2);
        opacity: 0.5;
    }
}

@keyframes cloud-move-2 {
    from {
        opacity: 0.5;
        transform: translateX(-200px) scale(.3) scaleX(-1);
    }
    to {
        transform: translateX(800px) scale(.3) scaleX(-1);
        opacity: 0.5;
    }
}

@keyframes cloud-move-3 {
    from {
        opacity: 0.5;
        transform: translateX(-100px) scale(.5);
    }
    to {
        transform: translateX(900px) scale(.5);
        opacity: 0.5;
    }
}

@keyframes cloud-move-4 {
    from {
        opacity: 0.5;
        transform: translateX(-200px) scale(.7) scaleX(-1);
    }
    to {
        transform: translateX(800px) scale(.7) scaleX(-1);
        opacity: 0.5;
    }
}