/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/
body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;
    border: 1px solid;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
}

.header__weather-text
{
    margin: 0;
    text-align: justify;
    font-size: 0.8em;
    line-height: 110%;
}

.header__title
{
    overflow: visible;
    font-family: 'UnifrakturCook', cursive;
    font-size: 5.5em;
    width: auto;    
    text-align: center;
    vertical-align: top;
    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;
    font-size: 0.6em;
    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    font-family: 'Six Caps', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.article__content__lr
{
    text-indent: 2ch;
    font-size: 0.8em;
    text-align: justify;
}

.article__content__columns
{
    text-indent: 2ch;
    font-size: 0.8em;
    text-align: justify;
    column-count: 2;
    column-width: 15px;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    text-align: justify;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 4px;
}

.article__author
{
    display: block;
    text-align: center;
    font-size: 0.8em !important;
    font-weight: bold;
    margin-top: 10px;
}

.article__continue
{
    text-indent: 0;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    display: block;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__image-caption
{
    font-size: 0.8rem;
    text-decoration: underline;
}

.article__subtitle
{
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
    margin: 10px 0;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__caption
{
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: right;
}

.main-photo__title
{
    font-family: 'Times New Roman', serif;
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
}

.main-photo__desc
{
    font-size: 0.8em;
    margin-bottom: 20px;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
    border-left: 1px solid #000;
}

.multicolumn__left
{
    padding-right: 10px;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title.article__title_font_racing
{
    font-family: 'Racing Sans One', cursive;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.multicolumn .article__title.article__title_font_farsan
{
    font-family: 'Farsan', cursive;
    font-size: 2.3em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
